<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iesebre.sintesiapp2.sintesiapp" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreaReserva"
            android:label="@string/title_activity_crea_reserva" >
        </activity>
        <activity
            android:name=".ConsultaReserva"
            android:label="@string/title_activity_consulta_reserva" >
        </activity>
        <activity
            android:name=".MapaActivity"
            android:label="@string/title_activity_mapa" >
        </activity>
        <activity
            android:name=".UsersActivity"
            android:label="@string/title_activity_users" >
        </activity>
        <activity
            android:name=".ConsultaMenu"
            android:label="@string/title_activity_consulta_menu" >
        </activity>
        <activity
            android:name=".CreaMenu"
            android:label="@string/title_activity_crea_menu" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB4CRPrSS1awt3Rwem0qEr7tLSiOV-u0rY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MenuTotActivity"
            android:label="@string/title_activity_menu_tot" >
        </activity>
    </application>

</manifest>
